.phonebook {
  max-width: 400px;
  padding: 30px;
  background: linear-gradient(to right, #daf7f856, #63f8f844);
  border-radius: 15px;
}

h1 {
  margin-bottom: 20px;
  color: #0b3bc0;
  text-shadow: 5px 5px 10px #bfdf0d;
}

.section {
  margin-bottom: 20px;
  overflow: hidden;
}

.feedback-title {
  color: #4f5252;
  margin-bottom: 10px;
}

.input {
  width: 100%;
  height: 30px;
  margin-bottom: 20px;
  padding: 0 10px;
  border: 1px solid;
  border-radius: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: textfield;
}

.btn {
  width: 100%;
  height: 30px;
  font-size: 16px;
  font-weight: 700;
  color: #4f5252;
  padding: 0 10px;
  border: 1px solid #01afaf;
  border-radius: 15px;
  background: transparent;
  transition: 0.3s linear;
}

.btnContact {
  composes: btn;
  width: 30px;
  font-size: 24px;
  background-color: #fafafa;
  border: 1px solid #01afaf;
  border-radius: 15px;
  transition: 0.3s linear;
}

.btn:hover {
  color: #fafafa;
  background: #01afaf;
  transition: 0.1s linear;
}

.btnContact:hover {
  background: #f51818;
  color: #fafafa;
  transition: 0.1s linear;
}

.list {
  list-style: none;
}

.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 5px 10px;
  border: 1px solid #01afaf;
  border-radius: 10px;
  transition: 0.1s linear;
}

.list-item:hover,
.list-item:focus {
  background-color: #47f7f7;
  transition: 0.1s linear;
}

.list-item-data {
  width: 70%;
  display: flex;
  justify-content: space-between;
}

/* Animation */

.PhonebookList-enter {
  transition: 0.25s ease;
  opacity: 0;
  transform: translateX(-1000px);
}
.PhonebookList-enter-active {
  opacity: 1;
}
.PhonebookList-exit {
  opacity: 1;
}
.PhonebookList-exit-active {
  opacity: 0;
  transform: translateX(-1000px);
  transition: 0.25s ease;
}

/* Title */

.h1Title-entering {
  transition: 500ms ease;
  opacity: 0;
  transform: scale(0.05) translateX(-1000px);
}
.h1Title-entered {
  opacity: 1;
  transition: 500ms ease-out;
}

/* Alert */

.alert {
  position: absolute;
  top: 50px;
  right: 50px;
  width: 300px;
  height: 100px;
  border-radius: 10px;
  background-color: #dd0505;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
  color: #dfd7d7;
}

.alert-entering {
  transition: 500ms ease;
  opacity: 0;
  transform: scale(0.05) translateX(-1000px);
}
.alert-entered {
  opacity: 1;
  transition: 500ms ease-out;
}
.alert-exit {
  opacity: 0.5;
}
.alert-exit-active {
  opacity: 0;
  transform: scale(0.05) translateX(-1000px);
  transition: 500ms ease;
}
